asgiref==3.5.0
Cython==0.29.28
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.3
django-bootstrap-form==3.4
django-heroku==0.3.1
django-storages==1.12.3
gensim==4.2.0
jmespath==1.0.0
mysql-connector-python==8.0.28
numpy==1.22.3
Pillow==9.1.0
psycopg2==2.9.3
python-decouple==3.6
scipy==1.8.0
six==1.16.0
smart-open==6.0.0
sqlparse==0.4.2
static3==0.7.0
tzdata==2022.1
urllib3==1.26.9
whitenoise==6.0.0

