{% extends 'base.html' %}

{% block title %} Lista de Colaboradores {% endblock %}

{% block main %}

<div class="container">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 novo-cliente">
                <a href="{% url 'colaborador_create' %}">
                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-lg">&nbsp;Novo Colaborador</i></button>
                </a>
            </div>

            {% csrf_token %}
            <form class="col-sm-6" ENCTYPE="multipart/form-data">
                <div class="input-group mb-3 search-bar">
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                  <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-search">&nbsp;Pesquisar</i>
                    </button>
                  </div>
                </div>
            </form>

            <!-- -->
            <div class="col-sm-12">
                <ul class="list-group">
                    <h3>Listagem de Colaboradores</h3>
                    {%  for colaborador in colaboradores  %}
                        <li class="list-group-item">
                            <!-- Linkando os usuários da lista para a página e passando os seus respectivos IDs -->
                            {{ colaborador.nome }} {{ colaborador.sobrenome }}

                            <a href="{% url 'colaborador_update' colaborador.id %}" class="edit-item">
                                <button type="button" class="btn btn-warning" style="color: white"><i class="bi bi-pencil"></i>&nbsp;Editar</button>
                            </a>

                            <a href="{% url 'colaborador_delete' colaborador.id %}" class="delete-item">
                                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp;Deletar</button>
                            </a>
                        </li>
                    {%  endfor  %}
                </ul>
                <br>
            </div>

        </div>
    </div>
</div>
{% endblock %}

